.container{
    background-color: rgb(58, 55, 55);
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    }
.title{
    color: aliceblue;
}
.button-test{
    background-color: rgb(1, 60, 187);
    color: aliceblue;
    
}